opencv-python==3.3.0.10
numpy==1.15.4
pandas==0.21.1
matplotlib==2.1.0
Pillow==5.4.1
scikit-learn==0.20.2
Keras-Preprocessing==1.0.5
Keras-Applications==1.0.6
Keras==2.2.4
tensorflow==1.7.1
glob2==0.6